{% extends 'base.html.twig' %}

{% block title %}Hello ShopController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto;  width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .shop_section{
        width: 100%;
        display:flex;
    }
    .product_container{
             width :70%;
             display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
    }
    .card_section{
        width: 30%
    }
    .card_product{
       height: 500px;
    }
    .card-img{
        height: 300px
    }

    .card_product_container{
           height: 600px;
           overflow-y: auto;

    }

</style>

<div class="example-wrapper">
  <div class="shop_section">
        <div class="product_container"> 
            {% for p in products  %}
                <div class="card card_product" style="width: 18rem;">
                    <img src={{p.image}} class="card-img-top  card-img " alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{p.name}}</h5>
                            <p class="card-text">{{p.description}}</p>
                            <p class="card-text">{{p.price | number_format(0, ""," ")}}€</p>
                            <a href="{{ path("property.show", { id:p.id }) }}" class="btn btn-primary">Voir</a>
                            <a href="{{path("cart_add",{"id":p.id})}}" class="btn btn-primary">Ajouter panier</a>
                        </div>
                </div>
            {% endfor %}
        </div>
        <div class="card_section"> 
            <h2>Mon panier</h2>
            <div class="card_product_container"> 
                {% if carts | length > 0 %}
                {% set total = null %}
                {% for item  in carts %}
                {% set total = total + (item.product.price * item.quantity) %}
                   <div class="product_cart"> 
                        <p>{{item.product.name}}</p>
                        <p>{{item.product.brand}}</p>
                        <p>{{item.product.price}}€</p>
                        <p>Prix {{ total}}</p>
                        <p>Quantité {{item.quantity}}</p>
                        <a href="{{path("cart_increment",{"id":item.product.id})}}">
                        <button class="btn btn-primary">+</button>
                        </a> 
                        <a href="{{path("cart_decrease",{"id":item.product.id})}}">
                        <button class="btn btn-primary">-</button>
                        </a> 
                        <a href="{{path("cart_remove",{"id":item.product.id})}}">
                        <button class="btn btn-primary">effacer</button>
                        </a> 
                    </div>
                {% endfor %}
            </div>
              
               <h4>Nombre de produits dans le panier {{ carts | length }}</h4>
               <h4>Total a payer : {{total}} </h4>
                  <a href="{{path("basket_create")}}">
                        <button class="btn btn-primary">Passer au payement</button>
                 </a> 
                {% else %}
                <h2> Votre panier est vide ajouter des produits</h2>
                {% endif %}
            </div>
        </div> 
  </div>
</div>
{% endblock %}
